main{
  margin-bottom: 50px;
}

.cards-row{
  margin-top: 30px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  margin:20px;
  min-width: 350px;
  list-style: none;
  width:25%;
  height:100%;
  text-align: center;
  
}

.btn-primary{
  display: flex;
  justify-content: center;    
}

h1{
  font-weight: bolder;
  padding: 10px 0;
  color: rgb(76, 141, 11);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.centralHeading{
  justify-content: center;
  margin: auto;
}

body{
  background-color: rgb(240, 240, 240);
}

.card img{
  transition-property: all;
  transition-duration:1s;
  transition-timing-function: ease-in-out;
  margin-top:50px;
  margin-bottom: 50px;

}

.card img:hover{
  transform:scale(1.1) rotateY(180deg);
  translate: smooth;
  cursor:pointer;
}

button{
  margin:auto;
}



.card-title {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-text {
  margin: 15px;
  min-height:150px;

}
.description {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.description:hover {
  text-decoration: underline;
}
.description:focus {
  outline: none;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
summary {
  font-size: larger;
  background-color: #0d6efd;
  border-radius: 30px;
  padding: 10px;
  margin: auto;
  transition: 1s;
}
summary:hover {
  scale: 1.1;
}

.card-img-top:hover{
  scale: 1.05;
  transition: 1s;
}


