main{
  margin-bottom: 50px;
}

.cards-row{
  margin-top: 30px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  margin:20px;
  min-width: 300px;
  list-style: none;
  width:20%;
  min-height:700px;
  text-align: center;
  
}

.card-text{
  min-height:200px;
}

.btn-primary{
  display: flex;
  justify-content: center;    
}

h1{
  font-weight: bolder;
  padding: 10px 0;
  color: rgb(76, 141, 11);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

body{
  background-color: rgb(240, 240, 240);
}

.card img{
  transition-property: all;
  transition-duration:1s;
  transition-timing-function: ease-in-out;
  margin-top:50px;
  margin-bottom: 50px;

}

.card img:hover{
  transform:scale(1.1) rotateY(180deg);
  translate: smooth;
  cursor:pointer;
}

button{
  margin:auto;
}





